ion-content {
  --background: #3b43be;
}

ion-card {
  --background: white !important;
}
body {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
.bitcoin__logo {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
  color: white;
  padding-top: 40px;
}

.bitcoin__header {
  background-color: #29308f;
}

.bitcoin__disclaimer {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 6px;
}
